<!-- <dx-pie-chart id="pie" type="doughnut" title="Investment Distribution" palette="Soft Pastel"
    [dataSource]="distributionList">
    <dxi-series argumentField="name" valueField="accountDistribution.percentage">
        <dxo-label [visible]="true" format="millions">
            <dxo-connector [visible]="true"></dxo-connector>
        </dxo-label>
    </dxi-series>
    <dxo-legend [margin]="0" horizontalAlignment="right" verticalAlignment="top"></dxo-legend>
    <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip" format="millions">
    </dxo-tooltip>
</dx-pie-chart> -->
<div>development is in progress</div>